#p6{
  min-width:560px;
  background: url('../public/imgs/sixth_bg.jpg') center 100% no-repeat;
}

#p6 .body>div:nth-child(2){
  margin-top: -110px;
}

#p6 .body>div:nth-child(3)>div{
  margin-top:20px;
}
#p6 .body>div:nth-child(3)>div>p{
  font-family: "å®‹ä½“";
}
#p6 .body>div:nth-child(3)>div>p:first-child{
  font-size: 24px;
  color: #000;
  opacity: .2;
  text-transform: uppercase;
}
#p6 .body>div:nth-child(3)>div>p:nth-child(2){
  width: 146px;
  height: 30px;
  background-color: #ff8901;
  text-align: center;
  line-height: 30px;
  color: white;
  margin-top: -8px;
  font-size: 20px;
}
#p6 .body>div:nth-child(3)>div>i{
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ff8901;
  margin: 8px 0 6px 0;
}
#p6 .body>div:nth-child(3)>div>p:nth-child(4){
  font-size: 14px;
  color: #2f313b;
}

#p6 #ys{
  transition: opacity 2s;
}
#p6 #ysf4{
  transition:margin 1s;
}